.message {
   display: flex;
}

.imageAndText {
    
}

.imageAndText img {
    width: 14%;
}

.text {
    background-color: #0066CC;
}

.text:after {

}

.name {

}

.messageText {

}

.time {
    position: absolute;
}